{% extends "./skeleton.html" %}
{% block navigation %}
    {% include "./components/sidebar.html" %}
    {% include "./dialogs/invite.html" %}
{% endblock %}
{% block content %}
    {% if "chat" in request.args %}
        <div class="stack row" style="height: 100vh;">
            <div class="flex row space-between box" style="height: 54px; border-left: 0px; align-items: center;">
                {% set chat = (chats | selectattr("id", "equalto", request.args["chat"] | int) | list)[0] %}
                <h2 style="background-color: transparent; color: var(--text)">
                    {% if chat.is_group %}
                        {{ chat.name }}
                    {% else %}
                        Direct Message: @{{ known_users[(chat_members[chat.id] | rejectattr("user_id", "equalto", session["user"].id) | list)[0].user_id].tag }}
                    {% endif %}
                </h2>
                # TODO: Check if admin
                {% if chat.is_group and %}
                    <div>
                        <a href="/?chat={{ chat.id }}&invite">Invite</a>
                        <a>Settings</a>
                    </div>
                {% endif %}
            </div>
            <div class="stack" id="messages" style="padding: 18px; overflow-y: auto; flex: 1 1 auto; flex-direction: column-reverse;">
                {% for message in (messages | reverse) %}
                    <div class="flex stack row message" message_id="{{ message.id }}">
                        <p class="timestamp">{{ get_timestamp(message.created) }}</p>
                        <p class="content">
                            @{{ known_users[message.user_id].tag }}: {{ message.content }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="row message-box">
                <form action="/api/send-message" method="POST">
                    <input type="hidden" name="request_token" value="{{ session.request_token }}">
                    <input type="hidden" name="chat_id" value="{{ chat.id }}">
                    <div class="flex row" style="background-color: black;">
                        <input
                            type="text"
                            style="width: 100%; color: white; padding: 5px; border: 0px;"
                            placeholder="Your Message"
                            name="content"
                            required
                        >
                        <button type="submit" style="border: 0px; margin-left: 10px;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="center stack" style="height: 100vh;">
            <p style="font-size: 10px;">The vast emptiness...</p>
        </div>
    {% endif %}

    {% if "chat" in request.args %}
        <!-- Eek! You found my little Javascript nook! -->
        <!-- I know, this isn't supposed to be here, -->
        <!-- but for the sake of usability, this crime shall go unpunished -->
        <span id="request_token" style="display: none;">{{ session.request_token }}</span>
        <script>

            function get_timestamp(epoch) { // JS abstract for get_timestamp
                const date = new Date(epoch * 1000)

                const day = String(date.getDate()).padStart(2, "0")
                const month = String(date.getMonth() + 1).padStart(2, "0")
                const year = date.getFullYear()
                const hours = String(date.getHours()).padStart(2, "0")
                const minutes = String(date.getMinutes()).padStart(2, "0")

                return `${day}.${month}.${year} @ ${hours}:${minutes} `
            }

            function doPoll() {
                fetch("/api/poll-messages", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        chat_id: Number(new URL(window.location.href).searchParams.get("chat")),
                        last_message_id: Number(document.querySelector("[message_id]").getAttribute("message_id")),
                        request_token: window.request_token.innerText
                    }),
                }).then(async (res) => {
                    if (res.status === 204) {
                        console.debug("No new messages.")
                    } else {
                        const stack = document.getElementById("messages")
                        for (const message of (await res.json())) {
                            const container = document.createElement("div")
                            container.setAttribute("message_id", message.id)
                            container.className = "flex stack row message"
                            const timestamp = document.createElement("p")
                            timestamp.className = "timestamp"
                            timestamp.innerText = get_timestamp(message.created)
                            const content = document.createElement("p")
                            content.className = "content"
                            content.innerText = `@${message.username}: ${message.content}`
                            container.appendChild(timestamp)
                            container.appendChild(content)
                            stack.insertBefore(container, stack.firstChild)
                        }
                    }

                    setTimeout(doPoll, 1000)
                })
            }
            doPoll()
        </script>
    {% endif %}
{% endblock %}
