<dialog
{% if "create-group" in request.args %}
    open
{% endif %}
>
    <div class="center stack" style="height: 100vh;">
        <div class="box" style="width: 300px; margin-top: -80px;">
            <div class="flex row" style="flex-wrap: nowrap;">
                <h2 style="width: 100%;">New Group</h2>
                <h2><a href="/{{ '?chat=' + request.args['chat'] if 'chat' in request.args else '' }}">X</a></h2>
            </div>

            <div class="stack">
                <p>Create a new group for many l33t h4ckz0rs.</p>

                <form action="/api/create-group" method="POST">
                    <div class="row">
                        <label for="tag">Name:</label>
                        <input
                            type="text"
                            name="name"
                            required
                        >
                    </div>

                    <input type="hidden" name="request_token" value="{{ session.request_token }}">
                    <div class="flex" style="justify-content: space-between; margin-top: 20px;">
                        <a href="/{{ '?chat=' + request.args['chat'] if 'chat' in request.args else '' }}">Cancel</a>
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>
